$button-size: 40px;

.button {
	width: $button-size;
	height: $button-size;
	border-radius: 50%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
	background: #dcddde;
	border: none;

	&:hover {
		background-image: linear-gradient(
			90deg,
			rgba(113, 18, 150, 1) 0%,
			rgba(205, 5, 123, 1) 50%,
			rgba(255, 183, 0, 1) 100%
		);
		cursor: pointer;
	}

	&.disable {
		pointer-events: none;
	}

	& svg {
		height: 60%;
		width: auto;
		color: #fdfeff;
	}
}
